<!-- ===== فوتر مشترک ===== -->
<footer>
  <div class="container footer-box">
    <div>
      <h3>IESTM</h3>
      <p>کمپانی ایستم با تمرکز بر توسعه پروژه‌های وب، ابزارهای کاربردی، بازی‌های دیجیتال و ایده‌های نو</p>
    </div>
    <div>
      <h3>بنیان‌گذار</h3>
      <p>رادمهر اصغری<br>توسعه‌دهنده و مدیر IESTM</p>
    </div>
    <div>
      <h3>ارتباط</h3>
      <p>asly3325@gmail.com<br>09398212260<br>@iestmcompany</p>
    </div>
  </div>
  <p class="copyright">© IESTM Official — تمامی حقوق محفوظ است</p>
</footer>
